* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-size: 14px;
	/*font-family: 'Trebuchet MS', sans-serif;*/
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
}



.container {
	margin: 0 auto;
  max-width: 80%;
  padding: 0 15px;
}
.text-center {
	text-align: center;
}
.text-uppercase {
	text-transform: uppercase;
}
.color-green {
	color: #63a70a;
}
.font-30 {
	font-size: 30px;
}
.font-25 {
	font-size: 25px;
}
.font-20 {
	font-size: 20px;
}

input[type=submit],
a.button,
button {
	display: inline-block;
	padding: 12px 15px;
  text-transform: uppercase;
  color: #FFF;
  background: #63a70a;
  font-weight: bold;
  letter-spacing: 3px;
  box-shadow: none;
  text-decoration: none;
  border: none;
}
input[type=submit]:hover,
a.button:hover,
button:hover {
	background-color: #4f3616;
}

/* Form design */
form .form-group {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
textarea,
select,
input[type=tel],
input[type=email],
input[type=text] {
	display: inline-block;
	width: 100%;
	background: #e7fdc9;
  border: none;
  padding: 15px;
  color: #4f3616;
  font-size: 15px;
}
textarea,
select,
input[type=tel]::placeholder,
input[type=email]::placeholder,
input[type=text]::placeholder {
	color: #4f3616;
}
textarea,
select,
input[type=tel]:focus,
input[type=email]:focus,
input[type=text]:focus {
	outline-color: #63a70a;
}


/* particion of screen */
.col-3 {
	display: inline-block;
	float: left;
	width: calc(33.33% - 20px);
	margin-right: 30px;
}
.col-3:nth-child(3n) {
	margin-right: 0;
}
.col-2-3 {
	display: inline-block;
	float: left;
	width: 30%;
	margin-right: 30px;	
}
.col-2-7 {
	display: inline-block;
	width: calc(70% - 30px);
}


header {
	display: inline-block;
	width: 100%;
	border-bottom: 2px solid #63a70a;
}
.header-bar {
	display: inline-block;
	width: 100%;
	padding: 15px 0;
	/*color: #4f3616;*/
	background-color: #63a70a;
	color: #FFF;
}
.header-bar .tagline {
	float: left;
	display: inline-block;
	width: 70%;
}
.header-bar .contact {
	display: inline-block;
	width: 30%;
	text-align: right;
}

.header-content {
	display: inline-block;
	width: 100%;
	padding: 15px 0;
}
.header-content .logo {
	float: left;
	display: inline-block;
	width: 60px;
	height: auto;
}
.header-content nav {
	display: inline-block;
	width: calc(100% - 60px);
	/*text-align: right;*/
}
.header-content nav > ul > li {
	/*list-style-type: none;*/
	display: inline-block;
	float: left;
	padding-right: 10px;
}
.header-content nav > ul > li ul {
	display: none;
}
.header-content nav > ul > li:hover ul {
	/*display: inline-block;*/
}


/* Banner */
.banner {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 150px;
}
.banner .slider img {
	width: 100%;
}
.banner .content {
	position: absolute;
	left: 30%;
  bottom: -30%;
  width: 40%;
  padding: 25px;
  color: #000;
  text-align: center;
  border: 3px solid #63a70a;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e7fdc9+45,63a70a+100 */
	background: #e7fdc9; /* Old browsers */
	background: -moz-linear-gradient(top,  #e7fdc9 45%, #63a70a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e7fdc9 45%,#63a70a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e7fdc9 45%,#63a70a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7fdc9', endColorstr='#63a70a',GradientType=0 ); /* IE6-9 */
}
.banner .content h2 {
	margin: 0;
	font-size: 40px;
}


/* .Footer design */
.footer {
	position: relative;
	float: left;
	display: inline-block;
	width: 100%;
	background-color: #63a70a;
	color: #FFF;
	padding: 25px 0;
	margin-top: 55px;
}
.footer:before {
	content: '';
  position: absolute;
  height: 30px;
  width: 100%;
  left: 0;
  right: 0;
  top: -30px;
	background-image: url(../images/footer_bg.png);
  background-repeat: repeat;
  background-position: center top;
  background-attachment: scroll;
  z-index: 1;
}
.footer .footer-section .logo-img {
	background-color: #FFF;
	/*float: left;*/
	margin-bottom: 15px;
}
.footer .footer-section h4 {
	margin-bottom: 0;
}
.footer .footer-section h3 {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
}
.footer .footer-section h3:before {
	content: "";
	position: absolute;
	width: 60px;
	height: 2px;
	bottom: 0;
	margin-bottom: -2px;
	left: calc(50% - 30px);
	background: #FFF;
}
.footer .footer-section ul {
	margin-top: 20px;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}
.footer-copyright {
	display: inline-block;
	width: 100%;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
