* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-size: 14px;
	/*font-family: 'Trebuchet MS', sans-serif;*/
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
}

:root {
  --green-color: #63a70a;  
  --brown-color: #4f3616;
  --light-green-color: #e7fdc9;  
  --white-color: #FFF;  
}

.container {
	margin: 0 auto;
  max-width: 80%;
  padding: 0 15px;
}
.text-center {
	text-align: center;
}
.text-uppercase {
	text-transform: uppercase;
}
.color-green {
	color: var(--green-color);
}
.font-30 {
	font-size: 30px;
}
.font-25 {
	font-size: 25px;
}
.font-20 {
	font-size: 20px;
}

input[type=submit],
a.button,
button {
	display: inline-block;
	padding: 12px 15px;
  text-transform: uppercase;
  color: #FFF;
  background: var(--green-color);
  font-weight: bold;
  letter-spacing: 3px;
  box-shadow: none;
  text-decoration: none;
  border: none;
}
input[type=submit]:hover,
a.button:hover,
button:hover {
	background-color: var(--brown-color);
}

/* Form design */
form .form-group {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
textarea,
select,
input[type=tel],
input[type=password],
input[type=email],
input[type=text] {
	display: inline-block;
	width: 100%;
	background: #e7fdc9;
  border: none;
  padding: 15px;
  color: var(--brown-color);
  font-size: 15px;
}
textarea,
select,
input[type=tel]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder,
input[type=text]::placeholder {
	color: var(--brown-color);
}
textarea,
select,
input[type=tel]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=text]:focus {
	outline-color: var(green-color);
}


/* particion of screen */
.col-3 {
	display: inline-block;
	float: left;
	width: calc(33.33% - 20px);
	margin-right: 30px;
}
.col-3:nth-child(3n) {
	margin-right: 0;
}
.col-2-3 {
	display: inline-block;
	float: left;
	width: 30%;
	margin-right: 30px;	
}
.col-2-7 {
	display: inline-block;
	width: calc(70% - 30px);
}

.col-2 {
	float: left;
	display: inline-block;
	width: calc(50% - 30px);
	margin-right: 30px; 
}
.col-2:nth-child(2n) {
	margin-right: none
}


header {
	display: inline-block;
	width: 100%;
	border-bottom: 2px solid var(--green-color);
}
.header-bar {
	display: inline-block;
	width: 100%;
	padding: 15px 0;
	/*color: #4f3616;*/
	background-color: var(--green-color);
	color: #FFF;
}
.header-bar .tagline {
	float: left;
	display: inline-block;
	width: 70%;
}
.header-bar .contact {
	display: inline-block;
	width: 30%;
	text-align: right;
}

.header-content {
	display: inline-block;
	width: 100%;
	padding: 15px 0;
}
.header-content .logo {
	float: left;
	display: inline-block;
	width: 60px;
	height: auto;
}
.header-content nav {
	display: inline-block;
	width: calc(100% - 60px);
	color: var(--green-color);
	margin: 18px 0 4px;
}
.header-content nav > ul {
	float: right;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.header-content nav > ul > li {
	/*list-style-type: none;*/
	position: relative;
	display: inline-block;
	float: left;
	margin: 0 20px;
	padding: 5px 0;
}
.header-content nav > ul > li a {
	color: var(--green-color);
	text-decoration: none;
}
.header-content nav > ul > li > ul {
	display: none;
	position: absolute;
	width: max-content;
  left: 0;
  top: 25px;
  z-index: 9;
  padding: 0;
	list-style-type: none;
	background: var(--light-green-color);
}
.header-content nav > ul > li > ul > li {
	padding: 15px;
	border-bottom: 2px solid var(--brown-color);
}
.header-content nav > ul > li:hover a,
.header-content nav > ul > li:hover {
	color: var(--brown-color);
}
.header-content nav > ul > li:hover > a {
	border-bottom: 2px solid var(--brown-color);
}
.header-content nav > ul > li:hover ul {
	display: inline-block;
}
.header-content nav > ul > li:hover > ul > li > ul {
	display: none;
}


/* Banner */
.banner {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 150px;
}
.banner .slider img {
	width: 100%;
}
.banner .content {
	position: absolute;
	left: 25%;
  bottom: -30%;
  width: 50%;
  padding: 25px;
  color: #000;
  text-align: center;
  border: 3px solid var(--green-color);
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e7fdc9+45,63a70a+100 */
	background: #e7fdc9; /* Old browsers */
	background: -moz-linear-gradient(top,  #e7fdc9 45%, #63a70a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e7fdc9 45%,#63a70a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e7fdc9 45%,#63a70a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7fdc9', endColorstr='#63a70a',GradientType=0 ); /* IE6-9 */
}
.banner .content h2 {
	margin: 0;
	font-size: 40px;
}

/* Tab design */
/* Style the tab */
.tab {
  overflow: hidden;
  text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--brown-color);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--brown-color);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


/* .Footer design */
.footer {
	position: relative;
	float: left;
	display: inline-block;
	width: 100%;
	background-color: var(--green-color);
	color: #FFF;
	padding: 25px 0;
	margin-top: 55px;
}
.footer:before {
	content: '';
  position: absolute;
  height: 30px;
  width: 100%;
  left: 0;
  right: 0;
  top: -30px;
	background-image: url(../images/footer_bg.png);
  background-repeat: repeat;
  background-position: center top;
  background-attachment: scroll;
  z-index: 1;
}
.footer .footer-section .logo-img {
	background-color: #FFF;
	/*float: left;*/
	margin-bottom: 15px;
}
.footer .footer-section h4 {
	margin-bottom: 0;
}
.footer .footer-section h3 {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
}
.footer .footer-section h3:before {
	content: "";
	position: absolute;
	width: 60px;
	height: 2px;
	bottom: 0;
	margin-bottom: -2px;
	left: calc(50% - 30px);
	background: #FFF;
}
.footer .footer-section ul {
	margin-top: 20px;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}
.footer-copyright {
	display: inline-block;
	width: 100%;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}


/*
 *Responsive media query
 */
@media (max-width: 1200px) {
	.container {
		max-width: 90%;
	}
}
@media (max-width: 1024px) {
	.container {
		max-width: 100%;
	}
}
@media (max-width: 640px) {
	.col-3 {
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
	}
}