/*
 *Responsive media query
 */

@media (min-width: 767px) {
	.header-content nav > ul > li:hover a,
	.header-content nav > ul > li:hover {
		color: var(--brown-color);
	}
	.header-content nav > ul > li:hover > a {
		border-bottom: 2px solid var(--brown-color);
	}
	.header-content nav > ul > li:hover ul {
		display: inline-block;
	}
	.header-content nav > ul > li:hover > ul > li > ul {
		display: none;
	}
}
@media (max-width: 1200px) {
	.container {
		max-width: 90%;
	}
}
/* For tablet */
@media (max-width: 1024px) {
	.container {
		max-width: 100%;
	}
	.col-3 {
		width: calc(33.33% - 10px);
    margin-right: 15px;
	}
	input[type=submit],
	input[type=button],
	a.button,
	button {
		padding: 8px 10px;
	}
	.services .service-block .detail .desc,
	.services .service-block .detail .title {
		margin-bottom: 10px;
	}
	.services .service-block .detail {
		padding: 10px 15px;
	}
	.services .service-block .detail .title {
		font-size: 20px;
		text-align: left;
    	margin-bottom: 0;
	}
	.services .service-block .detail .desc {
		font-size: 12px;	
	}
}
/* For mobile */
@media (max-width: 767px) {
	.header-bar .contact,
	.header-bar .tagline {
		width: 100%;
		text-align: center;
	}

	/* responsive menu */
	.mobile-nav {
		display: inline-block;
	}
	.header-content.active .mobile-nav {
		margin-top: 0;
	}
	.header-content.active {
		position: relative;
	}
	.header-content nav {
		display: none;
	}
	.header-content.active nav {
		display: inline-block;
	}
	.header-content.active nav > ul {
		position: absolute;
	    width: 100%;
	    top: 96px;
	    left: 0;
	    z-index: 9;
	    border-top: 3px solid var(--green-color);
	}
	.header-content.active nav > ul > li {
		width: 100%;
	    background-color: var(--light-green-color);
	    margin-left: 0;
	    border-bottom: 1px solid var(--green-color);
	    padding: 8px 15px;
	}
	
	/*.header-content nav > ul > li:hover ul,*/
	.header-content nav > ul > li.sub-menu ul {
		display: inline-block;
		position: relative;
	    width: calc(100% + 30px);
	    top: 7px;
	    left: -15px;
	    border-top: 1px solid var(--brown-color);
	}
	/*.header-content nav > ul > li:hover > ul > li,*/
	.header-content nav > ul > li.sub-menu > ul > li {
		padding: 8px 15px;
    	border-bottom: 2px dashed var(--brown-color);
	}
	/*.header-content nav > ul > li:hover > ul > li:last-child,*/
	.header-content nav > ul > li.sub-menu > ul > li:last-child {
		border-bottom: none;
	}


	.font-30 {
		font-size: 25px;
	}
	.font-25 {
		font-size: 20px;
		text-align: center;
	}
	.font-20 {
		font-size: 15px;
	}
	.col-2-3,
	.col-2-7,
	.col-2,
	.col-3 {
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
	}
	.form-group .col-3:last-child {
		margin-bottom: 0;
	}
	.tab button {
		padding: 10px;
    font-size: 12px;
    margin-bottom: 10px;
	}
	.tabcontent {
		padding: 0;
	}
	.tabcontent > img {
		float: none;
		display: block;
		margin: 0 auto;
	}
	.banner .content {
		left: 15px;
	    width: calc(100% - 30px);
	}
	.testimonial .testimonial-block {
		margin-bottom: 50px;
	}
	.testimonial .testimonial-block:last-child {
		margin-bottom: 0;
	}

	.services {
		padding: 15px;
	}
	.services .service-block {
		margin-bottom: 15px;
	}
	.services .service-block .detail,
	.services .service-block .image {
		width: 100%;
		padding: 0;
	}
	.services .service-block:last-child {
		margin-bottom: 0;
	}
	.callout {
		font-size: 14px;
		padding: 15px 0;
	}
}
@media (max-width: 380px) {
	.tabcontent > img {
		width: 100%;
	}
}