/*
 * index.html
 */

/* testimonal section */
.testimonial {
	display: inline-block;
	width: 100%;
	padding: 50px 0;
}
.testimonial .testimonial-block {
	position: relative;
	display: inline-block;
	float: left;
	width: calc(33.33% - 20px);
	margin-right: 30px;
	padding: 15px;
	text-align: center;
	border: 1px solid #4f3616;
}
.testimonial .testimonial-block:last-child {
	margin-right: 0;
}
.testimonial .testimonial-block .img-icon {
	position: absolute;
	top: 0;
	left: 50%;
	width: 70px;
	height: 70px;
	padding: 10px;
	margin-left: -35px;
	margin-top: -35px;
	border: 1px solid #4f3616;
	background-color: #FFF;
	border-radius: 100%;
}
.testimonial .testimonial-block .title {
	margin-top: 30px;
}

/* Serivces section */
.services {
	display: inline-block;
	width: 100%;
}
.services .service-block {
	display: inline-block;
	width: 100%;
	background-color: #e7fdc9;
}
.services .service-block .image {
	float: left;
	display: inline-block;
	width: 50%;
}
.services .service-block:nth-child(2n) .image {
	float: right;
}
.services .service-block .image img {
	float: left;
	width: 100%;
}
.services .service-block .detail {
	display: inline-block;
	width: 50%;
	padding: 25px;
}
.services .service-block .detail .title {
	margin-top: 0;
}
.services .service-block .detail .desc {
	margin-bottom: 25px;
}