/* home page */

/* testimonal section */
.testimonial {
	display: inline-block;
	width: 100%;
	padding: 50px 0;
}
.testimonial .testimonial-block {
	position: relative;
	padding: 15px;
	text-align: center;
	margin-bottom: 50px;
	border: 1px solid var(--brown-color);
}
.testimonial .testimonial-block:last-child {
	margin-bottom: 0;
}
.testimonial .testimonial-block .img-icon {
	position: absolute;
	top: 0;
	left: 50%;
	width: 70px;
	height: 70px;
	padding: 10px;
	margin-left: -35px;
	margin-top: -35px;
	border: 1px solid var(--brown-color);
	background-color: var(--white-color);
	border-radius: 100%;
}
.testimonial .testimonial-block .title {
	margin-top: 30px;
}
.callout {
	display: inline-block;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	margin-top: 30px;
	padding: 15px 0;
	text-align: center;
}
.callout a {
	color: var(--brown-color);
}
.callout a:hover {
	color: var(--green-color);
}

/* Serivces section */
.services {
	display: inline-block;
	width: 100%;
	padding: 15px;
	background-color: var(--light-green-color);
}
.services .service-block {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}
.services .service-block .image {
	float: left;
	display: inline-block;
	width: 100%;
	padding: 0;
}
.services .service-block:nth-child(2n) .image {
	float: right;
}
.services .service-block .image img {
	float: left;
	width: 100%;
}
.services .service-block .detail {
	display: inline-block;
	width: 100%;
	padding: 0;
}
.services .service-block .detail .title {
	/*float: left;*/
	margin-top: 0;
	margin-bottom: 0;
	font-size: 20px;
    margin-bottom: 0;
}
.services .service-block .detail .desc {
	font-size: 12px;	
	margin-bottom: 0;
}


/* FAQ page */
.faq-block {
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;
}
.faq-block .que {
	background-color: var(--light-green-color);
	padding: 10px 15px 8px;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid var(--brown-color);
}
.faq-block .que:after {
  content: '\002B';
  color: var(--brown-color);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.faq-block .active:after {
  content: "\2212";
}

.faq-block .ans {
	transition: max-height 0.2s ease-out;
	/*padding: 0 15px;*/
	max-height: 0;
	overflow: hidden;
	border: 1px solid var(--brown-color);
}


/* Serice area page */
.area-block {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid var(--brown-color);
}
.area-block:last-child {
	border-bottom: none;
}

/* Service page */
.tabcontent {
	text-align: justify;
}
.tabcontent > img {
	width: 100%;
	float: none;
	display: block;
	margin: 0 auto;
}


/* My account page */
.bookedAppt-block {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--brown-color);
}
.bookedAppt-block:last-child {
	border-bottom: none;
}
